<% include ./partials/header %>      

<div class="container">
<% events.forEach(events => { %>
<div class="jumbotron">
    <h1 class="display-4"><%= `${events.eventName}` %></h1>
    <p class="lead"><%= `Hosted by: ${events.organization}` %></p>
    <hr class="my-4">
    <p><%= `${events.descriptionEvent}` %></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/donate" role="button">Donate Now</a>
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= `${events.date}` %></li>
    <li class="list-group-item"><%= `${events.organization} is ${events.descriptionOrg}` %></li>
    <li class="list-group-item"><%= `For more questions or concerns contact: ${events.contact}` %></li>
    <li class="list-group-item"><%= `Help us reach our goal of ${events.goal}` %></li>
    <li class="list-group-item"><%= `All proceeds go to ${events.whereMoneyGoes}` %></li>
  </ul>
  <% }); %>
</div>